@import url('styles.css');


/* lista de receitas */

.recipes-list ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    color: var(--rich-black);
    list-style: none;
    padding: 20px;
}

.recipe-list-item-container{
    background-color: var(--tea-rose);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    min-height: 150px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.recipe-list-item-container:hover{
    transform: translateY(-5px);
    background-color: var(--tea-rose-light);
    transition: all 0.3s ease;
}

.recipe-list-item-info{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.recipe-list-item-badges{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.recipe-list-item-badges span {
    width: 100px;
    font-size: 0.7rem;
    background-color: var(--cambridge-blue);
    color: var(--baby-powder);
    padding: 5px 10px;
    border-radius: 15px;
}

.recipe-list-item-buttons{
    display: flex;
    gap: 10px;
}

.recipe-list-item-buttons button {
    height: 30px;
    background-color: var(--light-peach);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.recipe-list-item-buttons button:hover {
    background-color: var(--light-peach-hover);
    height: 33px;
    cursor: pointer;
    transition: all 0.3s ease;
}



/* cadastro de receitas */

.recipes-form, .edit-recipes-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tea-rose);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 600px;
    min-height: 400px;
    gap: 20px;
}

.ingredients-container, .edit-ingredients-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.ingredient-group, .edit-ingredient-group{
    display: flex;
    gap: 10px;
}

.ingredient-group input, .edit-ingredient-group input{
    width: 100%;
}

.ingredient-buttons, .edit-ingredient-buttons{
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
}

.ingredient-buttons button, .edit-ingredient-buttons button{
    width: 200px !important;
    height: 25px;
    background-color: var(--light-peach);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.ingredient-buttons button:hover, .edit-ingredient-buttons button:hover{
    cursor: pointer;
    height: 30px;
    transition: all 0.3s ease;
}   

#add-ingredient-btn, #edit-add-ingredient-btn{
    background-color: var(--berkeley-blue);
}

#remove-ingredient-btn, #edit-remove-ingredient-btn{
    background-color: var(--red-pantone);
}

